
    nav {
        float:left;
        width:35%;

        margin-top:250px;
        text-align: center;
        background-color:#0d0d0d;
        box-shadow: 0px 0px 10px white;
        overflow: auto;
        word-wrap: break-word;
    }
    nav option {
        color:white;
        background-color: black;
        font-family: 'Arial';
    }
    nav select {
        color:white;
        background-color: black;
        font-family: 'Arial';
        border:0px;
    }
    .report {
        bottom:0;
        padding:10px;
        position:fixed;
        background-color:black;
    }
    body {   
       background: url('LogoEdit.png') 20px -90px no-repeat, url('BGOriginal.png') top center no-repeat;
       background-color:#010039;
        font-size:16pt;
        font-family: 'Arial';
        color:#FFF;
        margin:0pt;
    }
    .buttonstyle{
        background-color:black;
        border-bottom: 4px darkred solid;
        border-right: 4px darkred solid;
        border-left: 2px red solid;
        border-top: 2px red solid;
        color:white;
        font-weight:bold;
        margin-left:6px;
        margin-top: 0px;
        display:inline;
    }
    table img {
        margin-top:4px;
    }
    table {
        margin:auto;
        width:80%;
        text-align: center;
    }
    table th {
        text-align: center;
        background-color:black;
    }
    a {
        display:inline-block;
    }
    a:link {
        color: #FFF;
        font-weight:bold;
        text-decoration: underline;
        
    }
    a:visited {
        color: red;
    }

    /* mouse over link */
    a:hover{
        color:red;
    }

    /* selected link */
    a:active {
        color: #0000FF;
    }
    span {
        font-weight: bold;
    }
    fieldset {
        border: 0px;
    }
    .report {
        bottom:0;
        padding:10px;
        position:fixed;
        background-color:black;
    }
    .form {
        display:inline-block;
        margin:auto;
    }
    h1 {
        text-shadow:0px 0px 10px #3399cc;
    }
    .form select {
        width:186px;
        text-align: center;
        margin-bottom:5px;
        border:0px;
    }
    .form input {
        width:180px;
        text-align: center;
        background-color:black;
        color:white;
        margin-bottom:5px;
        border:0px;
    }
    .partial-results{
        float:left;
        margin-top:10px;
        font-size: 10pt;
        margin-bottom: 10px;
        height:95vh;
        background-color:#0d0d0d;
        min-height:600px;
        box-shadow: 0px 0px 10px white;
        overflow:auto;
        padding:0px;
        border: 2px solid #0d0d0d;
    }
    .char {
        width:60px;
    }
    .assist {
        width:40px;
    }
    nav select {
        text-align: center;
        margin-bottom:5px;
        width:300px;
    }

::-webkit-input-placeholder {
 color: white; 
 opacity:  1;
}
:-moz-placeholder { /* older Firefox*/
 color: white; 
 opacity:  1;
}
::-moz-placeholder { /* Firefox 19+ */ 
 color: white; 
 opacity:  1;
} 
:-ms-input-placeholder { 
 color: white;
 opacity:  1;
}
button {
    margin:10px;
    border:0px;
    box-shadow: 0px 0px 5px #3399cc;
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
}
    .sidebar {
        height:30px;
        width:100px;
        background-color: #0d0d0d;
        text-align: center;
        position: fixed;
          z-index: 200;
          overflow:hidden;
          transition: height 450ms;
          -moz-transition: height 450ms;
          -webkit-transition: height 450ms;
          transition: width 450ms;
          -moz-transition: width 450ms;
          -webkit-transition: width 450ms;
        
    }
    .comb {
        display:inline;
    }
    .stats {
        height:30px;
        width:100px;
        z-index: 200;
        background-color: #0d0d0d;
        text-align: center;
        position: fixed;
        left:105px;
    }
    .sidebar:hover {
        height:500px;
        width:400px;
    }
    .report {
        bottom:0;
        margin-left:105px;
        padding:10px;
        position:fixed bottom right;
        background-color:black;
    }
    .report input {
        color:black;
    }